@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

* {
    font-family: "Playfair Display";
    font-weight: 400;
    font-style: normal;
    
}   
header h1{
    display: block;
    text-align: center;
    font-weight:900;
}
.navbar{
    display: flex;
    padding: 14px 16px;
    /* float: left; */
    background-color: blueviolet;
    

}

.navbar a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
}

.navbar a:hover{
    background-color:mediumpurple;
    border-radius: 8px;
    font-weight: 1000;
}

.contenido{
    float: left;
    /* overflow: hidden; */
}

.contenido .lista{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    z-index: 1;
    border-radius: 8px;
}

.contenido .lista a{
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    text-align: left;
}

.contenido:hover .lista{
    display: block;
    font-weight: 1000;
}

.bandera-colombia {
    border-radius: 8px;

}

.principal  {
    display: flex;
}

.aside h2 {
    font-weight: 950;
    padding-left: 260px;
}